/* hier komt de css van beginsituatie.blade.php */
.deelnemers{
    float: right;
    margin-right: 35%;
}
.deelnemers textarea{
    margin-top: 30px;
    margin-left: 10px;
}
.deelnemers button {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}
.lesgever{
    margin-right: 35%;
}
.lesgever textarea{
    margin-top: 30px;
    margin-left: 10px;
}
.lesgever button {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}

/* hier komt de css van gevolg.blade.php */

.gevolg h2{
    color: #31b0d5;
}
.gevolg button {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}
.gevolg textarea{
    margin-top: 30px;
    margin-left: 10px;
}

/* hier komt de css van persoonlijk.blade.php */


.leerdoel h2{
    color: #31b0d5;
    margin-left: 5%;
}
.leerdoel button {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}
.leerdoel textarea{
    margin-top: 30px;
    margin-left: 10px;
}
